<!DOCTYPE html>
<html lang="pt-br">

<%- include("static/header") %>

<body class="">
	<div class="wrapper">

    	<div class="sidebar" >
			<!--
				Tip 1: You can change the color of the sidebar
				using: data-color="blue | green | orange | red"
			-->
			<%- include("static/menuLateral/menuLateral") %>
		</div>

		<div class="main-panel">

			<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
				<%- include("static/navBar/navBar")%>
			</nav>

			<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
				<%- include("static/searchModal/searchModal")%>
			</div>

			<!-- Conteudo -->
			<div class="content">
				<%- include("index/content")%>
			</div>

			<!-- Footer -->
			<footer class="footer">
				<%- include("static/footer/footer.ejs")%>
				<% os%>
			</footer>
		</div>
	</div>

	<div class="fixed-plugin">
    	<%- include("static/fixed-plugin/fixed-plugin")%>
	</div>
  
  <!--Scripts-->
  <%- include("index/scripts")%>
</body>

</html>